# Created by .ignore support plugin (hsz.mobi)
### Scala template
*.class
*.log
### Linux template
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

### SBT template
# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/metals.sbt
.history
.cache
.lib/
.bloop/
.bsp/
.metals/
.vscode/
/.idea/
website/build/
website/yarn.lock
website/node_modules
website/.docusaurus
website/.cache-loader
